html{
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body{
    font-family: "Matemasie", system-ui;
    font-weight: 900;
    font-size: normal;
}

.container{
    width: 80%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.bg-header{
    background-image: url('../assets/images/bg-header.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 18.75em;
}

.bg-navbar{
    background-color: rgba(0, 0, 0, 0.160);
    padding: 1.5em 0;
}

.navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-brand{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 2rem;
    margin-bottom: 1em;
    font-weight: 500;
}

.navbar-nav{
    background-color: rgba(0, 8, 56, 0.795);
    padding: 1em;
    border-radius: 0.3em;
}

.nav-link{
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    padding: 0.5em;
}

.nav-link:hover{
    background-color: lightskyblue;
    color: black;
    border-radius: 0.5em;
}

/* MAIN */
.main{
    background-color: white;
    margin-top: -2rem;
    border-radius: 0.3em;
    padding: 0.3em;
}

.main-tittle{
    text-align: center;
    text-transform: uppercase;
}

/* CARD */
.card{
    background-color: rgb(9, 198, 204);
    color: white;
    overflow: hidden;
    border-radius: 0.5em;
    margin-bottom: 1em;
}

.card-img{
    width: 100%;
}

.card-body{
    padding: 1;
}

.card-body h5{
    font-size: 1.5rem;
    margin: 1em 0;
    font-weight: 500;
}

.card-body p {
    font-weight: 300;
}

.btn {
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5em;
    margin: 0 0.1em;
    border-radius: 0.5em;
}

.btn-dark {
    background-color: #3636363b;
    color: white;
}

.nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
    background-color: lightblue;
}

.nosotros-col-img {
    order: 2;
    background-image: url(../assets/images/nosotros.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: cover;
    height: 350px;
    width: 100%;
}

.nosotros-col-text {
    order: 1;

}

.nosotros-body {
    padding: 1em;
    text-align: center;
    color: white;
}

.nosotros-body h2 {
    text-transform: uppercase;
    font-weight: 500;
}

.nosotros-body p {
    font-weight: 200;
}

.btn-danger {
    color: white;
    background-color: cornflowerblue;
}

.bg-footer {
    background-color: midnightblue;
    color: whitesmoke;
}

.bg-footer p {
    padding: 1em;
    margin: 0;
    text-align: center;
}

@media (min-width: 768px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
    }
    
    .navbar-brand {
        flex-direction: row;
        margin-bottom: 0;
    }

    .tienda {
        display: flex;
        gap: 1em;
    }
    
    .nosotros {
        flex-direction: row;
    }

    .nosotros-col-img {
        order: 1;
        flex: 1 1 0;
    }

    .nosotros-col-text {
        order: 2;
        flex: 1 1 0;
    }
}

@media (min-width: 576px) {
    .nosotros-col-img {
        height: 500px;
    }
}